//Tipografía 
$fuente_principal: 'Montserrat', sans-serif;



// Colores
$verde : #4CB8B3;
$rosa : #F53756; 
$amarillo : rgb(231,148,2);
$morado: #752F97;
$negro: #1F1E1E;
$blanco: #FFFFFF;



//Tamaños de Media Queries

$telefono: 480px;
$tablet: 768px;
$desktop: 992;
$desktopXL: 1200px;
